*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    
    width: 190px;
    perspective: 1500px;
    position: relative;
    top: 30px;
    margin: 70px auto; 
    
   
}

.carrousel{
width: 100%;
position: absolute;
 height: 130px;
 animation: rotar 20s infinite linear;
 transform-style: preserve-3d;
 


}
.carrousel figure{
    width: 100%;
    height: 130px;
    position: absolute;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px black;
    transition: all 300ms;
    
    
}
.carrousel:hover{
    animation-play-state: paused;
    transition: 300ms;
    cursor: pointer;
   animation-play-state: paused;
   
}
.carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.carrousel img:hover{
    transform: scale(1.2);
     transition: 300ms;
}
.carrousel img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    
}
.carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
} 
.carrousel figure:nth-child(2) {
    transform: rotateY(36deg) translateZ(300px);
} 
.carrousel figure:nth-child(3) {
    transform: rotateY(72deg) translateZ(300px);
} 
.carrousel figure:nth-child(4) {
    transform: rotateY(108deg) translateZ(300px);
} 
.carrousel figure:nth-child(5) {
    transform: rotateY(144deg) translateZ(300px);
} 
.carrousel figure:nth-child(6) {
    transform: rotateY(180deg) translateZ(300px);
} 
.carrousel figure:nth-child(7) {
    transform: rotateY(216deg) translateZ(300px);
} 
.carrousel figure:nth-child(8) {
    transform: rotateY(252deg) translateZ(300px);
} 
.carrousel figure:nth-child(9) {
    transform: rotateY(288deg) translateZ(300px);
}
 .carrousel figure:nth-child(10) {
    transform: rotateY(324deg) translateZ(300px);
} 
@keyframes rotar{

    
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg)
    } 
}